@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

background:#FDFBF6;

display:flex;
justify-content:center;
align-items:center;

min-height:100vh;

padding:20px;

}

.pricing{

display:flex;
justify-content:center;
align-items:center;

width:100%;

}

.card{

position:relative;

width:350px;

background:#fff;

padding:40px 30px;

border-radius:30px;

border:2px solid #7A9F2B;

box-shadow:
0 12px 30px rgba(0,0,0,.08);

transition:.4s;

overflow:hidden;

}

.card:hover{

transform:translateY(-12px);

box-shadow:
0 20px 45px rgba(0,0,0,.18);

}

.badge{

position:absolute;

top:18px;
right:-45px;

background:#7A9F2B;

color:#fff;

padding:8px 50px;

font-size:13px;

font-weight:600;

transform:rotate(45deg);

letter-spacing:1px;

}

.card h3{

font-size:28px;

color:#222;

margin-bottom:15px;

}

.card h1{

font-size:48px;

color:#7A9F2B;

margin-bottom:30px;

}

.card h1 span{

font-size:18px;

font-weight:400;

color:#666;

}

ul{

list-style:none;

margin-bottom:35px;

}

ul li{

display:flex;

align-items:center;

gap:12px;

padding:14px 0;

font-size:17px;

color:#555;

border-bottom:1px solid #ececec;

}

ul i{

color:#7A9F2B;

font-size:18px;

}

button{
    width:100%;
    padding:16px;
    border:none;
    outline:none;
    background:#7A9F2B;
    color:#fff;
    font-size:18px;
    font-weight:600;
    border-radius:14px;
    cursor:pointer;
    box-shadow:0 6px 0 #56741B;

    transition: all .35s ease;
}

button:hover{
    transform: translateY(-6px) translateX(3px);
    box-shadow:0 14px 24px rgba(122,159,43,.35);
}
@media(max-width:768px){

.card{

width:100%;

max-width:360px;

}

.card h1{

font-size:40px;

}

}
